# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/deploy

# dependencies
/node_modules
/src/lib/node_modules
/src/demo/node_modules

# IDEs
/.idea
/.vscode

# misc
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
package-lock.json
