<div class="container-fluid">
  <form (ngSubmit)="saveUser()" [formGroup]="userForm" role="form" class="row" autoform>
    <fieldset>
      <legend>Edit current user</legend>
      <ac-autoform [formGroup]="userForm"></ac-autoform> 
      <div class="row">
        <button class="btn btn-sm btn-success" type="submit" [disabled]="!userForm.valid">
          <i class="fa fa-save"></i> Save
        </button>
        <button class="btn btn-sm btn-secondary" type="submit" [disabled]="!userForm.valid">
          <i class="fa fa-close"></i> Save &amp; Close
        </button>
        <button class="btn btn-sm btn-warning" type="button" (click)="closeForm()">
          <i class="fa fa-remove"></i> Cancel &amp; Return to List
        </button>
      </div>
    </fieldset>
  </form>
</div>