<div class="row">
  <div class="col-xs-12">
    <div class="form-inline">
      <div class="form-group" *ngIf="users">
        <label class="" for="searchUsers">Search Users</label>
        <input type="text" id="searchUsers" class="form-control" title="Search" [(ngModel)]="users.searchValue.userName" />
      </div>
      <div class="form-group">
        <button class="btn btn-success" (click)="addUser()">
          Create New User
        </button>
      </div>
      <div class="form-group pull-right" *ngIf="users">
        <label for="pageSize">Items per Page</label>
        <select class="form-control" name="pageSize" [(ngModel)]="users.pageSize">
          <option [ngValue]="2">2</option>
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="users">
  <div class="col-xs-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th *ngFor="let header of users.headers" [title]="header.desc">{{ header.text }}
            <div class="ac-sortsmall">
              <button class="btn btn-sm btn-secondary ac-supersmall" (click)="users.sortColumn(header.prop, 'asc')"><i class="fa fa-sort-asc"></i></button>
              <button class="btn btn-sm btn-secondary ac-supersmall" (click)="users.sortColumn(header.prop, 'desc')"><i class="fa fa-sort-desc"></i></button>
            </div>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!users.totalFilteredRows">
          <td colspan="4" class="text-center">
            <div class="alert alert-warning">
              There are no users available.
            </div>
          </td>
        </tr>
        <tr *ngFor="let user of users.itemsOnCurrentPage">
          <td *ngFor="let data of users.columnsOfItem(user)">
            {{ data }}
          </td>
          <td>
            <button class="btn btn-primary btn-sm" type="button" (click)="editUser(user)">
              Regular Form Edit
            </button>
            <button class="btn btn-primary btn-sm" type="button" (click)="editUserAutoform(user)">
              Auto Form Edit
            </button>
            <button class="btn btn-danger btn-sm" type="button" (click)="removeUser(user)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ac-pagination *ngIf="users" [maxPageIndex]="users.maxPageIndex" (pageNumberChanged)="users.currentPageIndex = $event">
</ac-pagination>

<div *ngIf="currentUser">
  <h1>Modaler Dialog für {{currentUser.userName}}</h1>
</div>

<div class="card card-block">
  <div class="card-header card-success">
    Techniques used
  </div>
  <div class="card-body">
    <p>The table is plain HTML. The tricky part is the datamodel, that holds an array of view models. This model class is able to 
      sort, filter, page, and so on.</p>
      <code>
        <pre>
ngOnInit() {{ '{' }}
  // Here we load some data from a service
  this.apiService.getUsers().subscribe(data => {{ '{' }}
    this.renderData(data);
  });
}

private renderData(data: Array&lt;UserViewModel>) {{ '{' }}
  // typeInfo is an artifical instance to get access to the meta data JavaScript cannot provide through type info alone
  var t = new UserViewModel();
  // we get a regular array here, but grid expects GridData for proper rendering
  this.users = new AcDataGridModel&lt;UserViewModel>(data, t);
}

        </pre></code> 
        <p>Now, in <code>this.users</code> of type <code>AcDataGridModel</code> is the model we can use to create a grid. </p>
  </div>
</div>