<div class="card card-inverse" [ngClass]="getColor('card')">
  <div class="card-body" [ngClass]="getColor('bg')">
    <div class="rotate">
      <i class="fa fa-5x" [ngClass]="icon"></i>
    </div>
    <h6 class="text-uppercase">{{ text }}</h6>
    <h1 class="display-1">{{ number }}</h1>
    <div class="progress" *ngIf="options.hasProgress">
      <div class="progress-bar" [style.width]="progressValue"></div>
    </div>
    <span class="progress-description" *ngIf="options.hasProgress">
      {{ progressText }}
    </span>
  </div>
  <div class="card-footer text-muted" *ngIf="options.hasFooter">
    <a href="#" class="card-link" [routerLink]="footerLink">{{ footerText }}</a>
  </div>
</div>
