<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" *ngFor="let tab of tabs.tabs">
    <a
      class="nav-link "
      *ngIf="!tab.disabled; else muted"
      href="#"
      [routerLink]="tab.link"
      [routerLinkActive]="'active'"
      role="tab"
      >{{ tab.text }}</a
    >
    <ng-template #muted>
      <a class="nav-link text-muted" href="#" disabled="disabled" [routerLink]="" role="tab">{{ tab.text }}</a>
    </ng-template>
  </li>
</ul>
<div class="tab-content">
  <br />
  <div role="tabpanel" class="tab-pane active">
    <router-outlet></router-outlet>
  </div>
</div>
