<h2>About me</h2>
<p>
  I have many years of experience with Web-Frameworks. I’m in the business since the early JavaScript days, know every single bit in jQuery and learnt a lot about Knockout, Angular, and React.
</p>
<p>
  Now Angular is here for a while – the very first time in years – such a strong feeling in our guts that’s now the first step from ancient crap into something really professional. It brings the level we all know from Java and C# and the mature backend frameworks to the front end.
</p>
<p>
  And it goes on. TypeScript is here and know we have something that’s an improvement for front end developers that matters:
</p>
<p>
  TypeScript brings a whole new level to pros like us. And it makes out world easier – at least a bit. And it improves the quality of our product – not just a bit, a whole new step.
</p>
<p>
  The last years brought a lot experience and some nice projects and the outcome is an advanced peace of software that’s going to make our life with Angular a lot easier.
</p>

<h2>Purpose</h2>
<p>
  This is a project that helps creating sophisticated Angular components. It's not really just for adding to packages and using, but more for learning. There will be a book available that explains the making of completely (planned by June 2019).
</p>
<h2>Impress</h2>
<div>
  Jörg Krause<br>
  Hafersteig 113<br>
  12683 Berlin<br>
  Germany<br>
</div>

<h2>Licensing?</h2>
<p>
  It's ISC licensed and it's free. I deeply believe in Open Source and will support the ecosystem by open sourcing all parts of the project. For commercial users such as enterprises I have support options.
</p>
<h3>About the Author</h3>
<p>
  The SVOGV Widget Library was written by Joerg &lt;isageek&gt; Krause, <a  target="_blank" href="https://www.joergkrause.de">www.joergkrause.de</a>, Berlin / Germany. He has many years of experience with Web-Frameworks. He were in the business in the early JavaScript days, know every single bit in jQuery and learnt a lot about Knockout, Angular, and React. But time goes on. So he moved almost all projects to either AngularJS or Angular 2+. He thinks that knowing one Framework really well is more for our customers than knowing a lot just good. So he decided to do more and start contributing to the Angular ecosystem by creating awesome libraries and components.
</p>
<h4>Looking for an Angular Dev?</h4>
<p>
  Yes, I'm available for all kind of remote jobs. If you need a really good full-stack dev, than drop me an email (joerg@krause.de) or write through my homepage's <a href="https://www.joergkrause.de/contact" target="_blank">contact form</a>.
</p>
<p>
  I write sophisticated stuff quickly and in very high quality in these technologies:
</p>
<ul>
  <li>Frontend: Angular, @nyaf Web Components / HTML 5 native API expert </li>
  <li>Backend: NodeJs, ASP.NET Core, Entity Framework Core</li>
  <li>Cloud: Azure CosmosDb, Azure Functions, Azure Event Hub, Azure IoT, AWS S3, AWS Lambda</li>
  <li>Other: Making Alexa Skills</li>
</ul>
