<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        A demo showing how to manipulate the cell's content using templates. Templates work on a per type base. In the demo all cells that render a
        boolean value are being replaced.
      </div>
    </div>
  </div>
  <app-minitabs #tabs></app-minitabs>
  <div class="row" *ngIf="tabs.tabSelected == 'info'">
    <div class="col-12">
      <div class="card card-block clearfix">
        <div class="card-header card-info">
          Common Features of Grid Component
        </div>
        <div class="card-body">
          <p>
            The appearance of cells can be modified in various ways. First, the grid provides default templates for certain data types. Second, the
            internal behavior can be overwritten by providing a template with the same name , such as '#boolean'. Third, the model can provide a
            <code>@UiHint('template')</code> decorator, whereas 'template' is the name of a custom template. All three variants can be mixed.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="tabs.tabSelected == 'code'">
    <div class="col-12">
      <div class="card card-block clearfix">
        <div class="card-header card-info">
          Common Features of Grid Component
        </div>
    </div>
  </div>
  <div class="row" *ngIf="tabs.tabSelected == 'code'">
    <div class="col-12">
      <form>
        <fieldset>
          <legend>Grid Features</legend>
          <div class="form-group"></div>
        </fieldset>
      </form>
      <ac-datagrid [model]="model" [showActions]="false" [externals]="{ AgeTemplate: ForAgeTemplate }">
        <ng-template #boolean let-item>
          <span *ngIf="item">YES</span>
          <span *ngIf="!item">NO</span>
        </ng-template>
        <ng-template #ForAgeTemplate let-item> Age: {{ item }} </ng-template>
      </ac-datagrid>
    </div>
  </div>
</div>
