<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        The treeview can held any tree of nodes, which can be styles, linked, and bound to events. Click the <b>+</b>sign to open the tree and
        manipulate the nodes' appearance. Clicking on the items fires various events shown on the right.
      </div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" [ngClass]="{ active: treeDemoTabs == 'info' }">
          <button type="button" class="btn btn-link nav nav-pill" href="#" (click)="treeDemoTabs = 'info'">Info</button>
        </li>
        <li class="nav-item" [ngClass]="{ active: treeDemoTabs == 'code' }">
          <button type="button" class="btn btn-link nav nav-pill" href="#" (click)="treeDemoTabs = 'code'">Code</button>
        </li>
        <li class="nav-item" [ngClass]="{ active: treeDemoTabs == 'demo' }">
          <button type="button" class="btn btn-link nav nav-pill" href="#" (click)="treeDemoTabs = 'demo'">Demo</button>
        </li>
      </ul>
      <div *ngIf="treeDemoTabs == 'info'">
        <p>
          The treeview is controlled by a view model. The model defines the nodes and their behavior. The treeview fires certain events if nodes are
          being handled. The basic usage looks like this:
        </p>
        <pre>
&lt;ac-treeview [nodes]="treeData">&lt;/ac-treeview>
</pre
        >
      </div>
      <div class="alert alert-primary" *ngIf="treeDemoTabs == 'code'">
        The code used in this demo looks like this.
        <h4>*.ts-file</h4>
        <pre>
this.treeData = new AcTextTreeNode('Root node', options, [
  new AcTextTreeNode('Child node #1', options),
  new AcTextTreeNode('Child node #2', optionsi),
  new AcTextTreeNode('Child node #3', options),
  new AcTextTreeNode('Child node #4', options, [
    new AcTextTreeNode('Hello', options),
    new AcTextTreeNode('Ahoy', optionsc, [
      new AcTextTreeNode('Child deep A', options),
      new AcTextTreeNode('Child deep B', optionsi),
      new AcTextTreeNode('Child deep C', options)
    ]),
    new AcTextTreeNode('Hola', optionsc),
  ]),
  new AcTextTreeNode('Child node #5', options),
]);</pre
        >
        <h4>*.html-file (template)</h4>
        <pre>
&lt;ac-tree
    [nodes]="treeData"
    (nodeClick)="nodeEvent('click', $event)"
    (checkChanged)="nodeEvent('checked', $event)"
    (selectedChanged)="nodeEvent('selected', $event)"
    (collapseChanged)="nodeEvent('collapsed', $event)"
>
&lt;/ac-tree></pre
        >
      </div>
    </div>
  </div>

  <div class="row" *ngIf="treeDemoTabs == 'demo'">
    <div class="col-6">
      <ac-tree
        [nodes]="treeData"
        (nodeClick)="nodeEvent('click', $event)"
        (checkChanged)="nodeEvent('checked', $event)"
        (selectedChanged)="nodeEvent('selected', $event)"
        (collapseChanged)="nodeEvent('collapsed', $event)"
      >
      </ac-tree>
    </div>
    <div class="col-6">
      <code>
        <ul class="list-unstyled">
          <li *ngFor="let log of eventLog">{{ log }}</li>
        </ul>
      </code>
    </div>
  </div>
</div>
