# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/deploy

# dependencies
/node_modules
/bower_components
# we use a hard link to the lib folder during development and hence want to exclude this here
/lib

# IDEs
/.idea
/.vscode

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/.chrome
