<div class="row">
	<div class="col-xs-12">
		<div class="alert alert-info">
			This is the components (widgets) demo page.
		</div>
    <ul>
      <li><b>Analog Clock</b>: SVG based clock with some customizing options</li>
      <li><b>Treeview</b>: A tree view with highly customizable nodes and several events, well programmable with dedicated TypeScript classes.</li>
      <li><b>Tabs</b>: See the tabs in action on the editor page</li>
      <li><b>SideMenu</b>: See the side menu in action at the left side of the demo app</li>
    </ul>
	</div>
</div>