.breadcrumb {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 0;
  right: 0;
  float: none;
  padding: 7px 5px;
  padding-left: 10px;
  font-size: 12px;
  border-radius: 2px;
}
