<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" [ngClass]="{ active: tabSelected == 'info' }">
    <button type="button" class="btn btn-link nav nav-pill" href="#" (click)="tabSelected = 'info'">Info</button>
  </li>
  <li class="nav-item" [ngClass]="{ active: tabSelected == 'code' }">
    <button type="button" class="btn btn-link nav nav-pill" href="#" (click)="tabSelected = 'code'">Code</button>
  </li>
  <li class="nav-item" [ngClass]="{ active: tabSelected == 'demo' }">
    <button type="button" class="btn btn-link nav nav-pill" href="#" (click)="tabSelected = 'demo'">Demo</button>
  </li>
</ul>
