<div class="col-lg-6 col-md-6">
	rotateSpeed = 0.5:
	<ac-loadericon rotateSpeed="0.5"></ac-loadericon>
	<br>
	rotateSpeed = 1:
	<ac-loadericon rotateSpeed="1" color="#00FF00"></ac-loadericon>
	<br>
	rotateSpeed = 2:
	<ac-loadericon rotateSpeed="2" color="#0000FF"></ac-loadericon>
	<br>
	rotateSpeed = 5:
	<ac-loadericon rotateSpeed="5"></ac-loadericon>
	<br>
	rotateSpeed = 10:
	<ac-loadericon rotateSpeed="10" color="brown"></ac-loadericon>
</div>
<div class="col-lg-6 col-md-6">
	<h4 class="text-uppercase">Loader Icon</h4>
	<h6>Use like this</h6>
	<pre>
		&lt;ac-loadericon rotateSpeed="3" color="#00FF00">&lt;/ac-loadericon>
	</pre>
</div>