<div class="row">
	<div class="col-lg-6 col-md-6">
		<div class="card card-inverse card-success">
			<div class="card-block bg-success">
				<div class="rotate">
					<i class="fa fa-user fa-5x"></i>
				</div>
				<h6 class="text-uppercase">Tiles</h6>
				<h1 class="display-1">123</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="card card-inverse card-danger">
			<div class="card-block bg-danger">
				<div class="rotate">
					<i class="fa fa-list fa-4x"></i>
				</div>
				<h6 class="text-uppercase">Users</h6>
				<h1 class="display-1">{{ users.length }}</h1>
			</div>
		</div>
	</div>
