<!-- Top Nav Bar -->
<div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item active">
      <a class="nav-link" href="#" [routerLink]="['/dashboard']">Home <span class="sr-only">Home</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/users']">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['/about']">About</a>
    </li>
  </ul>
</div>
