<!-- Main Header -->
<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    ☰
  </button>
  <a class="navbar-brand" href="/index.html"><img src="/assets/img/roche.png" style="width:33%" /></a>
  <site-nav></site-nav>
</nav>
<div class="container-fluid" id="main">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <!-- The left side menu for application part navigation, menu can be controlled by a service call to manage rights/roles -->
      <ac-sidemenu [menu]="dynamicMenu"></ac-sidemenu>
    </div>
    <!--/col-->
    <div class="col-md-9 col-lg-10 main">
      <!--toggle sidebar button-->
      <p class="hidden-md-up">
        <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
      </p>
      <h2 class="display-2 hidden-xs-down">
        {{ currentRoute.title }} <small>{{ currentRoute.subTitle }}</small>
      </h2>
      <p class="lead">Welcome to CaevMan v4</p>
      <!-- Global navigation path -->
      <ac-breadcrumb></ac-breadcrumb>
      <!-- the global outlet, within the parts the named tab outlet shows sub parts -->
      <router-outlet></router-outlet>
    </div>
    <!--/main col-->
  </div>
</div>
<!--/.container-->
<footer class="container-fluid">
  <p class="text-right small">&copy; 2015 - {{ currentYear }} Roche</p>
</footer>
