<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'home'">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'widget/grid'">Data Table (Grid)</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'widget/editor'">Auto Form (Editor)</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'widget/tree'">Data Tree (TreeView)</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="'about'">About SVOGV</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Made with ❤ in Berlin / Germany by <i>Joerg &lt;IsAGeek&gt; Krause</i></span>
  </div>
</footer>
