<div class="container-fluid">
  <form (ngSubmit)="saveUser()" role="form" class="row" autoform #userForm="ngForm">
    <fieldset style="width:100%">
      <legend>Edit current user</legend>
      <ac-autoform [formGroup]="userForm"></ac-autoform>
      <div class="row">
        <button class="btn btn-sm btn-success" type="submit" [disabled]="!userForm.valid">
          <i class="fa fa-save"></i> Save
        </button>
        <button class="btn btn-sm btn-secondary" type="submit" [disabled]="!userForm.valid">
          <i class="fa fa-close"></i> Save &amp; Close
        </button>
        <button class="btn btn-sm btn-warning" type="button" (click)="closeForm()">
          <i class="fa fa-remove"></i> Cancel &amp; Return to List
        </button>
      </div>
    </fieldset>
  </form>
  <div class="card card-block">
    <div class="card-header card-success">
      Techniques used
    </div>
    <div class="card-body">
      <p>This form makes use of the &lt;ac-editor&gt; component.</p>
      <code><pre>
 &lt;form (ngSubmit)="saveUser()" [formGroup]="myForm" role="form" class="row"><br/>
    &lt;fieldset><br/>
      &lt;legend>Edit current user&lt;/legend><br/>
      &lt;ac-autoform [userForm]="myForm">&lt;/ac-editor><br/>
</pre></code>
      <p>
        The form needs a name, here we used 'myForm'. The component AcAutoForm reads the associated view model and creates all the
        fields including validation, label, and data type specific information.
      </p>
      <code>
<pre>
export class UserViewModel {{ '{' }}<br/>
<br/>
  @Hidden()<br/>
  id: number = 0;<br/>
  <br/>
  @Display('E-Mail', 30, 'E-Mail address')<br/>
  @Required()<br/>
  @MaxLength(100)<br/>
  @Email()<br/>
  email: string = '';<br/>
  <br/>
  @Display('Phone Number', 20, 'The user\'s phone')<br/>
  @Required()<br/>
  @MaxLength(20)<br/>
  phoneNumber: string = '';<br/>
  <br/>
  @Display('User Name', 10, 'The full name')<br/>
  @Required()<br/>
  @MaxLength(100)<br/>
  userName: string = '';<br/>
  <br/>
  @Display('Age', 40, 'From 12 to 88')<br/>
  @Range(12, 88)<br/>
  age = 14;<br/>
  <br/>
  @Display('Password', 50)<br/>
  @Required()<br/>
  @Compare('passWordTwo')<br/>
  passWord: string = '';<br/>
  <br/>
  @Display('Password', 60)<br/>
  @Required()<br/>
  passWordTwo: string = '';<br/>
  <br/>
{{ '}' }}
</pre>
</code>
    </div>
  </div>
</div>
