@import '~bootstrap/scss/bootstrap';
$fa-font-path: '../../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

body,
html {
  height: 100%;
}

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
  width: 100%;
  position: fixed;
  bottom: 1px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* workaround modal-open padding issue */
body.modal-open {
  padding-right: 0 !important;
}

#sidebar {
  padding-left: 0;
}

.tab-pane {
  margin: -15px;
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}

/* responsive nav stacked liked 3.x */
@media (max-width: 34em) {
  .navbar .navbar-brand {
    float: none;
    display: block;
  }
  .navbar .navbar-nav > .nav-item {
    float: none;
    margin-left: 0.1rem;
  }
  .navbar .navbar-nav {
    float: none !important;
  }
}

.card {
  overflow: hidden;
}

.card-body .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

fieldset {
  margin: 16px 0px;
  padding: 0px 16px 16px 16px;
  border: 1px solid silver;
  border-radius: 2px;
  width: 100%;
}
legend {
  padding: 0px 16px 0px 16px;
  width: auto;
  font-size: 90%;
}
blockquote {
  padding-left: 15px;
  border-left: 4px solid lightcyan;
}
